body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    min-height: 100vh;
}


#uploadForm {
    margin-bottom: 20px;
}
#videoControls {
    margin-bottom: 20px;
}

#videoContainer {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
}
#videoPlayer {
    width: 100%;
    display: block;
}
#overlay {
    position: absolute;
    top: 0;
    left: 0;
    outline: 2px dashed red;
    display: none;
    pointer-events: all;
}

.scrollable-sidebar {
    height: 100vh; /* Full viewport height */
    overflow-y: auto; /* Enables vertical scrolling */
}
.sidebar {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    
}



/* test */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    min-height: 100vh;
}
.sidebar {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    
}
.main-content {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-group label, .button-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
.form-group input, .form-group select, .button-group button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}
button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #0056cc;
}


video, img {
    max-width: 100%;
    width:600px;
    height: auto;
    border-radius: 4px;
}
#processingNotification {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.75);
    color: white;
    padding: 20px;
    border-radius: 5px;
}
.slice-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
}
.slice-group > div {
    display: flex;
    flex-direction: column;
}
.slice-group input[type="number"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}
button.download-button {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #4CAF50;
    color: white;
}
button.download-button:hover {
    background-color: #45a049;
}
.title-with-button {
    display: flex;
    align-items: center;
}
.title-with-button h3 {
    margin: 0;
    margin-right: 10px;
}
.title-with-button #webpDownloadButtonContainer {
    margin: 0;
}
.title-with-button span.file-size {
    font-size: 0.9em;
    color: #666;
}
.color-picker-group {
    display: flex;
    align-items: center;
}
.color-picker-group .color-picker {
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    padding: 0;
    background: none;
}
.opacity-slider-group {
    display: flex;
    align-items: center;
}
.opacity-slider-group .opacity-slider {
    width: 50%;
    cursor: pointer;
}
.opacity-slider-group #opacityValue {
    margin-left: 8px;
    font-size: 14px;
}
.overlay-group {
    display: grid;
    grid-template-rows: auto;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
}
.overlay-group > .form-group, .overlay-group > .button-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.crop-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
}
.slow-down-slider {
    width: 50%;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 150px); /* Three columns, each 200px wide */
    grid-template-rows: repeat(3, 150px); /* Three rows, each 200px high */
    grid-gap: 30px; /* Spacing between images */
    justify-content: center; /* Center grid horizontally */
    margin-bottom: 20px; /* Space below the grid */
}

.image-grid img {
    width: 80px; /* Width of each image */
    height: 80px; /* Height of each image */
    object-fit: cover; /* Ensures images cover the grid area without stretching */
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px; /* Add padding for visual spacing */
    display: flex; /* Ensures the content is centered */
    flex-direction: column; /* Aligns items vertically */
    align-items: center; /* Center items horizontally in the button */
    overflow: hidden; /* Keeps content within the button */
    text-align: center; /* Centers text horizontally */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.icon {
    transition: transform 0.3s ease; /* Smooth transformation for scaling */
    margin-bottom: 5px; /* Space between icon and title */
}

.icon-button:hover .icon {
    transform: scale(1.1); /* Scales the icon only */
}

.icon-button:hover {
    background-color: transparent; /* Ensures background stays transparent on hover */
}

.icon-title {
    font-size: 12px; /* Set the font size for the title */
    color: #333; /* Title color */
    text-decoration: none; /* In case it's a link, remove underline */
    pointer-events: none; /* Prevents the title from being clickable */
    padding: 10px;
}

.title-group p {
    color: #666; /* Lighter text for instructions */
    font-size: 14px;
}



.upload-group {
    background-color: #f9f9f9; /* Matching the style of slice group */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px; /* Space before the next section */
}

.home-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    padding: 10px 0;
    margin-bottom: 20px;
    transform-origin: left center;
    text-decoration: none; /* This line removes the underline */
}

.home-button img {
    width: 40px;
    height: 40px;
    transition: all 0.3s ease;
    padding-left: 10px;
}

.home-button span {
    margin-left: 10px;
    color: black;
}

.home-button:hover {
    transform: scale(1.1); /* Enlarge button on hover */
    color: #2494e4; /* Change text color on hover */
}

.home-button:hover img {
    content: url('./images/home-icon-blue.png'); /* Change to blue icon on hover */
}

.home-button:hover span {
    color: #2494e4; /* This changes the text color on hover */
}


.scrollable-sidebar {
    height: 100vh; /* Full viewport height */
    overflow-y: auto; /* Enables vertical scrolling */
}

